    GLOBAL_SETTINGS
    LAB_MASTER_SEED steg-dsss-ofdm_student_master_seed
NETWORK STEGO_NET
     MASK 172.25.0.0/24
     GATEWAY 172.25.0.1
CONTAINER encoder
     USER ubuntu
     REGISTRY hoangbac2004
     X11 YES
     STEGO_NET 172.25.0.2
CONTAINER decoder
     USER ubuntu
     REGISTRY hoangbac2004
     X11 YES
     STEGO_NET 172.25.0.3
