run_generate = encoder:.bash_history : CONTAINS : generate_cover.py
run_ofdm_embed = encoder:.bash_history : CONTAINS : ofdm_spread_embed.py
run_compress = encoder:.bash_history : CONTAINS : stego_audio.wav
run_decode = decoder:.bash_history : CONTAINS : extract_despread.py
found_secret = decoder:.bash_history : CONTAINS : THONG DIEP GOC
